/**********************/
/* Footer media query */
/*     over 368px     */
/**********************/
@media (min-width: 23em) {
  footer {
    flex-direction: row;
    gap: calc((10 / 16) * 1rem);
  }

  .boxv {
    display: inline;
  }
}

/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
  .card {
    border-radius: 0 0 calc((15 / 16) * 1rem) calc((15 / 16) * 1rem);
    min-height: fit-content;
  }
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 43em) {
}

/**********************/
/*     over 928px     */
/**********************/
@media only screen and (min-width: 58em) {
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
  /* Main */
  main {
    padding: calc((20 / 16) * 1rem);

    display: grid;
    place-content: center;
  }

  .card {
    border-radius: calc((15 / 16) * 1rem);
    padding: calc((40 / 16) * 1rem) calc((20 / 16) * 1rem);
  }

  .top-bar {
    margin-bottom: calc((40 / 16) * 1rem);
  }
}
